*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto',sans-serif;
  color: white;
}

.parent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, #f9faee, #fbfbeb, #d8cabc, #7a726f);
  position: absolute;
  top: 0;
  left: 0;
}

.login-modal {
  background: linear-gradient(45deg, #f9faee, #fbfbeb, #d8cabc, #7a726f);
  height: 600px;
  max-height: 100%;
  width: 450px;
  max-width: 100%;
  max-height: 100%;
  box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.5);
}
.title {
  height: 70px;
  padding: 5px;
  background: transparent;
  text-align: center;
  font-size: 40px;
  font-family: 'Bad Script',cursive;
  font-weight: bold;
  color:#211e1e;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  box-shadow: none;
}

.sign-parent div {
  display: inline-block;
  max-width: 50%;
  float: left;
  color:#444;
}

.login-cntnr {
  width: 80%;
  margin: auto;
}


.tag {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  margin-left: 10px;
}

.sign-parent span {
  padding: 5px 5px;
  display: block;
  cursor: pointer;
}

.sign-parent .active {
  border-bottom: 2px solid #FFD180;
}

.sign-parent .not-active {
  color: rgba(256, 240, 240, 0.7);
}

.sign-parent .not-active:hover {
  color: rgb(73, 71, 71);
}

.forms {
  clear: both;
  padding: 40px 0;
}

.forms input {
  background: #767474;
  color: #fff;
  width: 100%;
  height: 40px;
  outline: none;
  padding: 10px 15px;
  border-radius: 10px;
  transition-duration: .5s;
  border: 2px solid rgba(256, 256, 256, 0.7);
}

.forms input:focus {
  width: 90%;
  background: #8b8a8a;
  border: 2px solid rgba(256, 256, 256, 0.7);
  transition-duration: .5s;
}

.login-btn {
  background: transparent;
  outline: none;
  cursor: pointer;
  padding: 10px;
  width: 90%;
  border: 2px solid rgba(256, 256, 256, 0.5);
  color: rgb(44, 44, 44);
  font-size: 18px;
  font-weight: bold;
  transition-duration: 0.3s;
  display: block;
  margin: auto;
  border-radius: 50px;
}

.login-btn:hover {
  background: #211e1e;
  color: #fcfaf6;
  transition-duration: 0.3s;
  border: 2px solid transparent;
  text-shadow: none;
}

.forgot-section {
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 20px 0;
  margin-top: 35px;
  border-top: 2px solid rgba(0, 0, 0, 0.15);
}

.forgot-link {
  color: rgb(22, 21, 21);
  text-decoration: none;
}

.forgot-link:hover {
  color: rgba(60, 60, 60, 0.55);
}