*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto',sans-serif;
  color: white;
}
.login-body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(45deg, #d7ea46, #f1ea10, #f17f0c, #ec4a0a);
	background-size: 100% 100%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

.parent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #f4f4f4;
  background: white;
  position: absolute;
  top: 0;
  left: 0;
}

.login-modal {
  background: #FF9100;
  background: -webkit-linear-gradient(#dae091, #f0f8c3);
  height: 540px;
  max-height: 100%;
  width: 400px;
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.5);
}
.title {
  padding: 10px;
  text-align: center;
  font-size: 45px;
  font-family: 'Bad Script',cursive;
  font-weight: bold;
  color:#e8e1e1;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.sign-parent div {
  display: inline-block;
  max-width: 50%;
  float: left;
  color:#444;
}

.containers {
  overflow: auto;
  width: 80%;
  margin: auto;
}

.sign-parent div,
.login-btn {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.tag {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  margin-left: 10px;
}

.sign-parent a {
  margin-right: 15px;
  font-size: 23px;
  display: block;
}

.sign-parent span {
  padding: 5px 5px;
  display: block;
  cursor: pointer;
}

.sign-parent .active {
  border-bottom: 2px solid #FFD180;
}

.sign-parent .not-active {
  color: rgba(256, 240, 240, 0.7);
}

.sign-parent .not-active:hover {
  color: rgb(73, 71, 71);
}

.forms {
  clear: both;
  padding: 40px 0;
}

input {
  background: rgba(256, 256, 256, 0.4);
  color: black;
  width: 100%;
  outline: none;
  padding: 10px 15px;
  border-radius: 10px;
  margin: 10px 0;
  transition-duration: .5s;
  border: 2px solid rgba(256, 256, 256, 0.7);
}

input:focus {
  width: 90%;
  background: rgba(0,0,0,0.15);
  background: transparent;
  background: rgba(0, 0, 0, 0.08);
  border: 2px solid rgba(256, 256, 256, 0.7);
  transition-duration: .5s;
}

.login-btn {
  background: transparent;
  outline: none;
  cursor: pointer;
  padding: 10px;
  width: 90%;
  border: 2px solid rgba(256, 256, 256, 0.5);
  color: rgb(20, 20, 20);
  font-size: 18px;
  font-weight: bold;
  transition-duration: 0.3s;
  display: block;
  margin: auto;
  border-radius: 50px;
}

.login-btn:hover {
  background: #8f8d8a;
  color: #1db318;
  color: #fcfaf6;
  transition-duration: 0.3s;
  border: 2px solid transparent;
  text-shadow: none;
}

.forgot-section {
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 20px 0;
  margin-top: 35px;
  border-top: 2px solid rgba(0, 0, 0, 0.15);
}

.forgot-link {
  color: rgb(22, 21, 21);
  text-decoration: none;
}

.forgot-link:hover {
  color: rgba(60, 60, 60, 0.55);
}