.nav {
    width: 100%;
    height: 65px;
    line-height: 65px;
    text-align: center;
    box-shadow: 0 10px 20px rgb(40, 40, 40);
    border-radius: 0;
    background-color: #6096B4;
}
.nav-cont {
    width: 100%;
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 2rem;
}

.nav div.logo a {
    text-decoration: none;
    color: #1a1919;
    font-size: 2.2rem;
    margin-left: 0;
}

.nav div.logo a:hover {
    color: #f7fefa;
}

.nav div.main_list {
    height: 65px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 4rem;
    margin: 0;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #1a1919;
    line-height: 65px;
    font-size: 1.55rem;
}

.nav div.main_list ul li a:hover {
    color: #f7fefa;
}
